<div class="col-xs-12 col-sm-6 col-md-3 section-about about">
  <div class="row">
    <h2>{{section.title}}</h2>
  </div>
  <div class="row">
    <p>{{section.lead}}</p>
  </div>
  <div class="row">
    <nav class="section-nav" role="navigation">
      <ul>
        <li ng-repeat="ss in subsections" ng-class="{'active': selectedSubsection == ss}">
          <a href="" ng-click="selectSubsection(ss)">
            {{ss.title}}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="subsection-description">
      <p>{{selectedSubsection.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="subsection-star-container">
      <img ng-src="{{selectedSubsection.star}}" alt="{{selectedSubsection.title}}" class="subsection-star"/>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-9 section-content content">
  <div class="subsection" ng-repeat="ss in subsections" ng-show="selectedSubsection == ss">
    <div class="row">
      <h3>{{ss.title}}</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <div class="subsection-content" star-markdown="ss.content"></div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="subsection-graphic">
          <img ng-src="{{ss.graphic}}"/>
        </div>
      </div>
    </div>
  </div>
</div>
