<div class="col-xs-12 col-sm-6 col-md-3 section-about about">
  <div class="row">
    <h2>{{section.title}}</h2>
  </div>
  <div class="row">
    <p>{{section.lead}}</p>
  </div>
  <div class="row">
    <nav class="section-nav" role="navigation">
      <ul>
        <li ng-repeat="ss in subsections" ng-class="{'active': selectedSubsection === ss}">
          <a ui-sref="{{sectionName}}({subsection: '{{ss.title | slugify}}'})" ui-sref-opts="{location: 'replace', reload: false}">
            {{ss.title}}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="subsection-description" ng-repeat="ss in subsections" ng-show="selectedSubsection == ss">
      <p>{{ss.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="subsection-star-container animated fadeIn">
      <img ng-src="{{selectedSubsection.star}}" alt="{{selectedSubsection.title}}" class="subsection-star"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 vertical-separator">
    </div>
  </div>

</div>
<div class="col-xs-12 col-sm-6 col-md-9 section-content content">
  <div class="subsection animated fadeIn" ng-repeat="ss in subsections" ng-show="selectedSubsection == ss">
    <div class="row">
      <h3>{{ss.title}}</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="subsection-content" star-markdown="ss.content"></div>
      </div>
      <div class="col-xs-12 col-md-7 col-md-push-1">
        <div star-visualization="ss.visualizations" class="subsection-visualizations"></div>
      </div>
    </div>
  </div>
</div>
