<div class="col-xs-3 main-about">
  <h1>
    Austin<br/>
    Sustainability
  </h1>
  <p>
    Austin has a long history and strong track record for environmental stewardship and sustainability leadership. But how can we really know how sustainable our community is?
  </p>
</div>
<div class="col-xs-9 main-content">
  <div class="row">
    <div class="col-xs-3">
      <div star-main-nav></div>
    </div>
    <div class="col-xs-8 col-xs-push-1">
      <p>Septagram goes here</p>
      <div star-septagram></div>
    </div>
  </div>
</div>