
body {
  font-family: $serif;
  overflow: hidden;  
}

.ng-hide {
  /* this is just another form of hiding an element */
  display:block!important;
  position:absolute;
  top:-9999px;
  left:-9999px;
}

.main-header {
  background: $gray;

  min-height: 4em;

  h1 {
    font-size: 1.5em;
    font-family: $sans-serif;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin: 0;
  }

  h2 {
    font-family: $serif;
    font-size: 1.2em;
    word-spacing: 1px;
    color: white;
    margin: 0;
  }

  .head-text {
    padding: 40px 0 10px 0;
  }

  .star-icon {
      float: left;
      margin: 25px 20px 0 50px;
      height: 80px;
  }
}

.main-about {
  h1 {
    font-family: $sans-serif;
  }
}

.main-content {
  border-left: 2px solid $gray;
}
