
.main-header {
  background: #ccc;

  h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin: 0;
  }

  h2 {
    font-size: 16px;
    color: white;
    margin: 0;
  }
}

.main-about {

}

.main-content {
  border-left: 2px solid #000;
}