.home {
  .main-header a {
    cursor: default;
  }
}

.main-header {
  background: $gray;
  @include transition(all 1.0s ease-in-out);

  min-height: 4em;

  a {
    text-decoration: none;
    color: white;
  }

  h1 {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-family: $serif;
    font-size: 1.3em;
    word-spacing: 1px;
    margin: 0;
  }

  .head-text {
    padding: 40px 0 10px 0;
  }

  .star-icon {
      float: left;
      margin: 25px 20px 0 50px;
      height: 80px;
  }
}
