.home {
  .main-header a {
    cursor: default;
  }
}

.main-header {
  background: $gray;
  @include transition(all $transition-duration-main ease-in-out);

  min-height: 4em;

  a {
    text-decoration: none;
    color: white;
  }

  h1 {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-family: $serif;
    font-size: 1.3em;
    word-spacing: 1px;
    margin: 0;
  }

  .head-text {
    padding: 40px 0 10px 0;
  }

  .star-icon {
    float: left;
    margin: 25px 20px 0 50px;
    width: 80px;
    height: 78px;

    background-image: url(../img/star-icon-home.png);
    background-size: 80px 78px;
    @include transition(all $transition-duration-main ease-in-out);
  }

  a:hover .star-icon {
    @include transition(all 0.1s ease-in-out);
  }

  .nav-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 10px 0px 10px;
    height: 90px;
    width: 80px;
    border-left: 1px solid white;
    text-align: center;
    font-family: $sans-serif;
    cursor: pointer;

    .nav-text {
      color: white;
      font-size: 0.9em;
    }
  }

  .hub-icon {
    height: 30px;
    margin: 10px 0px 2px 0px;
  }

  .home-icon {
    margin: 6px 0px 4px 0px;
    height: 32px;
  }

}
