
.main-coming-soon {
  text-align: center;
  
  h2 { 
    font-size: 60px;
    padding: 20px;
  }
}

.main-about {
  h1 {
    font-family: $sans-serif;
  }
}


.main-content {
  border-left: 1px solid lighten($gray, 10%);
}

.main-star {
  width: 500px;
  max-width: 100%;
}


@media (min-width: $screen-xs-min) {
  .main-star-container {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 1em;
  }

  .main-coming-soon h2 {
    font-size: 120px;
  }
}
