
.star-main-nav {
  ul {

    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      padding: 10px 10px;
      background: #ccc;
      margin: 4px;
    }
  }

  .section-title {
    font-size: 16px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .section-description {
    max-height: 0;
    overflow: hidden;
    @include transition(all 0.5s ease-in);

    &.selected {
      max-height: 300px;
      @include transition(all 1.0s ease-in-out);
    }
  }
}