
.star-main-nav {
  ul {

    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      background: $gray;
      margin: 4px;
      color: white;
    }
  }

  .section-title {
    font-size: 16px;
    margin: 0;
    font-family: $sans-serif;
    @include transition(all 1.0s ease-in-out);

    a {
      text-decoration: none;
      color: inherit;
      display: block;
      padding: 1em;
    }
  }

  .section-description {
    max-height: 0;
    overflow: hidden;
    @include transition(all 0.5s ease-out);
    padding: 0 25px 0 25px;
    font-size: 1.1em;

    p {
      hyphens: auto;
      margin-top: 5px;
    }
  }
  .selected {
    .section-description {
      max-height: 300px;
      @include transition(all 1.0s ease-in-out);

    }

    @each $color-set in $color-sets {
      &.#{nth($color-set, 1)} {
        .section-title {
          background-color: #{nth(nth($color-set, 3), 5)};
        }
        .section-description {
          background-color: #{nth(nth($color-set, 3), 4)};
        }
      }
    }
  }

  .btn-explore {
    @extend .btn-default;
    text-transform: uppercase;
    font-family: $sans-serif;
    background: darken($gray, 10%);
    color: white;
    border-color: darken($gray, 20%);

    &:hover {
      border-color: darken($gray, 20%);
    }
  }
}
