.subsection, .subsection-description {
  &.ng-hide-add-active {

  }

  &.ng-hide-remove {
    @include animation-duration($transition-duration-subsection);
    @include animation-name(fadeIn);
  }
}

.subsection-description {
  margin-top: 2em;
  min-height: 120px;

  @media (max-width: $screen-md-min) {
    min-height: 0;
  }
}

.subsection-star-container {
  text-align: center;
}

.subsection-content {
  h4:first-child {
    margin-top: 0;
  }
}

.subsection-star {
  width: 40%;
  min-width: 120px;

  @media (max-width: $screen-md-min) {
    margin-top: 10px;
    max-width: 200px;
  }
}

.subsection-visualizations {
  .vis-title {
    margin-top: 0;
  }

  .vis-graphic-container {
    margin-top: 30px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
