.ui-view-container {
  position: relative;

  .ui-view {
    &.ng-enter, &.ng-leave {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      position: absolute;
      left: 0;
      right: 0;
    }

    &.ng-enter {
      @include animation-name(fadeInRightBig);
    }

    &.ng-enter-active {

    }

    &.ng-leave {
      @include animation-name(fadeOutLeftBig);
    }

    &.ng-leave-active {

    }
  }
}

.home {
  .ui-view {
    &.ng-enter {
      @include animation-name(fadeInLeftBig);
    }

    &.ng-leave {
      @include animation-name(fadeOutRightBig);
    }
  }
}
