// colors from design presentation
$gray: #7f7f7f;

$color-climate-1: #E26699;
$color-climate-2: #EA6084;
$color-climate-3: #F25E70;
$color-climate-4: #F95959;
$color-climate-5: #F76D5B;
$color-climate-6: #F7825B;
$color-climate-7: #F4935B;

$color-natural-1: #F76D5B;
$color-natural-2: #F7825B;
$color-natural-3: #F4935B;
$color-natural-4: #F4A85B;
$color-natural-5: #F4B75E;
$color-natural-6: #F2C65E;
$color-natural-7: #F2D65E;

$color-equity-1: #F4B75E;
$color-equity-2: #F2C65E;
$color-equity-3: #F2D65E;
$color-equity-4: #F2E25E;
$color-equity-5: #CCE270;
$color-equity-6: #A8E082;
$color-equity-7: #84DD93;

$color-health-1: #CCE270;
$color-health-2: #A8E082;
$color-health-3: #84DD93;
$color-health-4: #5EDDA5;
$color-health-5: #60D3B5;
$color-health-6: #63C9C1;
$color-health-7: #66BFCE;

$color-arts-1: #60D3B5;
$color-arts-2: #63C9C1;
$color-arts-3: #66BFCE;
$color-arts-4: #68B5DD;
$color-arts-5: #6DA3DD;
$color-arts-6: #728EE0;
$color-arts-7: #7577E2;

$color-economy-1: #6DA3DD;
$color-economy-2: #728EE0;
$color-economy-3: #7577E2;
$color-economy-4: #7A66E5;
$color-economy-5: #9366D6;
$color-economy-6: #AA66C9;
$color-economy-7: #C466BA;

$color-built-1: #9366D6;
$color-built-2: #AA66C9;
$color-built-3: #C466BA;
$color-built-4: #DD68AD;
$color-built-5: #E26699;
$color-built-6: #EA6084;
$color-built-7: #F25E70;


$sans-serif: 'Noto Sans';
$serif: 'Vollkorn';
