// colors from design presentation
$gray: #7f7f7f;

$color-sets: (
    //('name', (
    //    secondary menu colors
    //), (
    //    data vis colors
    //), (
    //    main navigation colors
    //)
    ('climate_and_energy', (
        #E26699,
        #EA6084,
        #F25E70,
        #F95959,
        #F76D5B,
        #F7825B,
        #F4935B
    ), (
        #333333,
        #633D3E,
        #954546,
        #C55052,
        #F75B5D,
        #F58082,
        #F3A6A7,
        #F1CCCD,
        #F0F0F0
    ), (
        #BB6E6E,
        #D26666
    )),
    ('natural_systems', (
        #F76D5B,
        #F7825B,
        #F4935B,
        #F4A85B,
        #F4B75E,
        #F2C65E,
        #F2D65E
    ), (
        #333333,
        #634F3E,
        #936D4A,
        #C38C56,
        #F3A863,
        #F1BA86,
        #F1CCA8,
        #F2DECD,
        #F0F0F0
    ), (
        #BA9470,
        #D19C6A
    )),
    ('equity_and_empowerment', (
        #F4B75E,
        #F2C65E,
        #F2D65E,
        #F2E25E,
        #CCE270,
        #A8E082,
        #84DD93
    ), (
        #333333,
        #615E3F,
        #918B4E,
        #C1B65B,
        #F2E168,
        #F2E788,
        #F2EAAC,
        #F2EDCE,
        #F0F0F0
    ), (
        #BAB074,
        #D0C56E
    )),
    ('health_and_safety', (
        #CCE270,
        #A8E082,
        #84DD93,
        #5EDDA5,
        #60D3B5,
        #63C9C1,
        #66BFCE
    ), (
        #333333,
        #3E5B4F,
        #4C876C,
        #58B28B,
        #64DDA7,
        #86E2BB,
        #AAE7CD,
        #CDEADE,
        #F0F0F2
    ), (
        #72AE92,
        #779E8A
    )),
    ('arts_education_and_culture', (
        #60D3B5,
        #63C9C1,
        #66BFCE,
        #68B5DD,
        #6DA3DD,
        #728EE0,
        #7577E2
    ), (
        #333333,
        #40545B,
        #4E7386,
        #5E94B1,
        #6CB6DC,
        #8CC5E1,
        #ACD4E7,
        #CFE3EA,
        #F0F0F0
    ), (
        #7A929D,
        #72A7C2
    )),
    ('economy_and_jobs', (
        #6DA3DD,
        #728EE0,
        #7577E2,
        #7A66E5,
        #9366D6,
        #AA66C9,
        #C466BA
    ), (
        #333333,
        #45405D,
        #574E8B,
        #695CB5,
        #7B6AE2,
        #998AE5,
        #B5ACE9,
        #D4CDEC,
        #F0F0F0
    ), (
        #7F7A9E,
        #7A6DC3
    )),
    ('built_environment', (
        #9366D6,
        #AA66C9,
        #C466BA,
        #DD68AD,
        #E26699,
        #EA6084,
        #F25E70
    ), (
        #333333,
        #5B4051,
        #864E70,
        #B15E8E,
        #DC6BAD,
        #E18BBE,
        #E7ACCE,
        #EACFDE,
        #F0F0F0
    ), (
        #9E7A92,
        #C270A0
    ))
);

$sans-serif: 'Noto Sans';
$serif: 'Vollkorn';

$transition-duration-main: 0.6s;
$transition-duration-description: 0.3s;
$transition-duration-subsection: 0.15s;
