// colors from design presentation
$gray: #7f7f7f;

$color-sets: (
    ('climate_and_energy', (
        #E26699,
        #EA6084,
        #F25E70,
        #F95959,
        #F76D5B,
        #F7825B,
        #F4935B
    ), (


    )),
    ('natural_systems', (
        #F76D5B,
        #F7825B,
        #F4935B,
        #F4A85B,
        #F4B75E,
        #F2C65E,
        #F2D65E
    ), (
    )),
    ('equity_and_empowerment', (
        #F4B75E,
        #F2C65E,
        #F2D65E,
        #F2E25E,
        #CCE270,
        #A8E082,
        #84DD93
    ), (
    )),
    ('health_and_safety', (
        #CCE270,
        #A8E082,
        #84DD93,
        #5EDDA5,
        #60D3B5,
        #63C9C1,
        #66BFCE
    ), (
    )),
    ('arts_education_and_culture', (
        #60D3B5,
        #63C9C1,
        #66BFCE,
        #68B5DD,
        #6DA3DD,
        #728EE0,
        #7577E2
    ), (
    )),
    ('economy_and_jobs', (
         #6DA3DD,
         #728EE0,
         #7577E2,
         #7A66E5,
         #9366D6,
         #AA66C9,
         #C466BA
    ), (
    )),
    ('built_environment', (
        #9366D6,
        #AA66C9,
        #C466BA,
        #DD68AD,
        #E26699,
        #EA6084,
        #F25E70
    ), (
    ))
);

$sans-serif: 'Noto Sans';
$serif: 'Vollkorn';
